<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>md5-size</key>
            <integer>1663799</integer>
            <key>md5s</key>
            <array>
              <string>cc58f33f4a9f9234885c7f0d7f803e8e</string>
            </array>
            <key>url</key>
            <string>https://github.com/mvdbent/CIS-Reporting/raw/main/test/Setup.Manager-0.8.2-244.pkg</string>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</plist>
